.container {
  background-color: #262522;
  color: #f0ebe1;
  border: 1px solid none;
  border-radius: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 40px;
}

.container > div {
  padding: 16px;
}

.linkContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.logo {
  font-weight: 600;
}

.links {
  font-weight: 600;
  margin-left: 20px;
}

.copyright {
  text-align: center;
  color: #9f9c95;
}
