.categoryContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.category {
  color: white;
  background-color: #ee6352;
  margin: 40px 10px 0px 0px;
  padding: 10px 20px;
  border: 1px solid #ee6352;
  border-radius: 30px;
  font-size: 18px;
}

.category:hover {
  cursor: pointer;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

.text {
  margin-bottom: 30px;
}

.image {
  border: 1px none;
  border-radius: 10px;
  margin-bottom: 30px;
}

.button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  margin-top: 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 5px;
}

.button:hover {
  background-color: #45a049;
}
