.container {
  background-color: #fffbf2;
  border: 1px solid none;
  border-radius: 30px;
  padding: 30px;
}

.titleInput {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.textArea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid #ccc;
  resize: vertical;
  min-height: 200px;
}
