.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px;
  background-color: #262522;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: modalAppear;
  animation-duration: 0.4s;
}

.modalContent > form {
  width: 40%;
}

.input {
  color: white;
  background-color: #494743;
  width: 100%;
  padding: 10px 14px;
  border: 1px solid #494743;
  border-radius: 20px;
  font-size: 16px;
}

@keyframes modalAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.closeButton {
  background-color: #262522;
  color: white;
  font-size: 28px;
  font-weight: bold;
  border: 1px solid #262522;
  margin-left: 5px;
  border-radius: 30px;
  padding: 10px;
}

.closeButton:hover,
.closeButton:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.searchLogoButton {
  cursor: pointer;
  background-color: #f0ebe1;
  border: none;
}

.searchLogoButton:hover {
  background-color: #f0ebe1;
}

.searchLogoImage {
  background-color: #f0ebe1;
}
